{% extends 'base.html' %}

{% block title %}CERN BL4S STEM Club{% endblock %}

{% block content %}

    <div class="cern-title">CERN BL4S</div>
    <div class="cern-main-container">
        <div class="about-cern">
            <div>Lorem ipsum dolor sit amet consectetur adipiscing, elit potenti tincidunt diam a, commodo semper vivamus senectus felis. Malesuada praesent per fames blandit eget pulvinar netus duis maecenas, ornare tempus class ullamcorper dictumst ac interdum proin feugiat, est scelerisque metus etiam mattis dapibus mus sapien. Accumsan fermentum auctor penatibus donec sollicitudin non aliquet enim aptent leo curae nisi, neque venenatis fusce luctus urna congue lectus inceptos orci magnis et, velit mauris cras eros quisque sociis nisl dui justo purus pretium. Primis imperdiet conubia euismod iaculis platea suscipit nullam, tempor dignissim ad fringilla varius cubilia ultricies, ligula morbi nam pharetra nec habitant.</div>
            <img src="{{ url_for('static', filename='/logos/bl4s_logo.png')}}" alt="Could not Find Image">
        </div>
        <div class="cern-2024">
            <img src="{{ url_for('static', filename='/photos/cern2024.jpeg')}}" alt="">
            <div class="cern-projects">
                <h2>CERN BL4S 2024</h2>
                <div>Lorem ipsum dolor sit amet consectetur adipiscing, elit potenti tincidunt diam a, commodo semper vivamus senectus felis. Malesuada praesent per fames blandit eget pulvinar netus duis maecenas, ornare tempus class ullamcorper dictumst ac interdum proin feugiat, est scelerisque metus etiam mattis dapibus mus sapien. Accumsan fermentum auctor penatibus donec sollicitudin non aliquet enim aptent leo curae nisi, neque venenatis fusce luctus urna congue lectus inceptos orci magnis et, velit mauris cras eros quisque sociis nisl dui justo purus pretium. Primis imperdiet conubia euismod iaculis platea suscipit nullam, tempor dignissim ad fringilla varius cubilia ultricies, ligula morbi nam pharetra nec habitant.</div>
                <a href="{{ url_for('static', filename='/proposal.pdf')}}" target="_blank">View Our Proposal</a>
            </div>
        </div>
    </div>

{% endblock %}