{% extends 'base.html' %}

{% block title %}Science News{% endblock %}

{% block content %}
    <div class="news-container">
        <h1 class="news-title">Latest Science News</h1>
        {% for article in articles %}
        <div class="news-article">
            {% if article.urlToImage %}
            <img src="{{ article.urlToImage }}" alt="Image for {{ article.title }}" class="news-image">
            {% endif %}
            <h2>{{ article.title }}</h2>
            <p><strong>Source:</strong> {{ article.source.name }}</p>
            <p>{{ article.description }}</p>
            <a href="{{ article.url }}" target="_blank">Read more</a>
        </div>
        <hr>
        {% else %}
        <p>No articles found.</p>
        {% endfor %}
    </div>
{% endblock %}