.experiments-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.experiments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 30px;
    row-gap: 30px;
}

.experiment-box {
    position: relative;
    flex: 1;
    padding: 0;
    height: auto;
    flex-grow: 1;
    border: none;
    background-color: white;
}

.experiment-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
    overflow: hidden;
    border-radius: 10px;
}

.experiment-info {
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color 0.2s;
    transition: opacity 0.2s;
    transition: box-shadow 0.15s;
    text-decoration: none;
}

.experiments-title {
    font-family: "Bebas Neue";
    font-size: min(130px, 15vw);
}

.experiment-description {
    pointer-events: none;
    color: white;
    padding: 30px;
    font-size: 23px;
    opacity: 0;
    font-weight: 700;
    overflow: visible;
    background-color: rgb(11, 9, 128);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: opacity 0.2s;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.experiment-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.experiment-info:hover {
    opacity: 1;
    background-color: rgba(211, 211, 211, 0.4);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}

.experiment-info:hover .experiment-description {
    transform: translateY(0);
    overflow: hidden;
    opacity: 1;
}

@media (min-width: 800px) and (max-width: 1000px) {
    .experiments {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .experiments {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 599px) {
    .experiments {
        grid-template-columns: 1fr 1fr;
    }
}


.experiment-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.2);
}

.experiment-page-description {
    padding-top: 50px;
    color: black;
    word-wrap: break-word;
    width: 95%;
    font-size: 20px;
    max-width: 90%;
}

.experiment-page-img {
    position: fixed;
    z-index: -10;
    top: 60px;
    left: 0;
    right: 0;
    height: auto;
    width: 80%;
    padding: 0 10% 0 10%;
    background-color: rgb(255, 255, 255);
}

.experiment-page-title {
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-size: 5vw;
    text-decoration: underline;
    font-weight: 600;
    text-align: center;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 40vw;
    padding-bottom: 20px;
    padding-top: 15px;
}



